/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}

/* body */
body {
	padding: 0px;
	margin: 0px;
	background: #fff;
}

body, input, textarea {
	font: 14px 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 23px;
	color: #727272;
}

/* Headings */
h1, 
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #333333;
}
h1 a, 
h2 a, 
h3 a, 
h4 a, 
h5 a, 
h6 a { 
	color: inherit;
}
h1 { 
	font-size: 40px; 
	line-height: 40px;
	margin-bottom: 30px;
}

h2 { 
	font-size: 35px; 
	line-height: 35px;
	margin-bottom: 30px;
}
h2.lessmb {
	font-size: 35px;
	font-weight: bold;
	line-height: 35px;
	margin-bottom: 16px;
}
h2.white {
	color: #fff;
	margin-bottom: 16px;
}
h2.light {
	font-weight: 400;
	line-height: 40px;
}
h2.gray {
	color: #727272;
}

h3 { 
	font-size: 27px; 
	line-height: 32px;
	margin-bottom: 30px;
}
h3.unline {
	float: left;
	margin-bottom: 40px;
	padding-bottom: 7px;
	border-bottom: 1px solid #949494;
}
h3.unline i {
	margin-right: 5px;
}


h4 { 
	font-size: 23px; 
	line-height: 27px;
	margin-bottom: 20px;
}
h4.white {
	color: #fff;
	font-weight: 500;
}
h4.white i {
	font-size: 21px;
	margin-right: 3px;
}
h4.light {
	font-weight: 500;
}

h5 { 
	font-size: 18px; 
	line-height: 25px;
	margin-bottom: 10px;
	font-style: normal;
}
h5.white {
	color: #fff;
}
h5.light {
	font-weight: 700;
    color: #000083;
}
h5.light2 {
	color: #999;
	font-weight: 400;
	line-height: 23px;
}
h5.gray { 
	font-style: normal;
	font-weight: 300;
	color: #999;
	margin-bottom: 16px;
}
h5.smt em { 
	font-style: normal;
	font-weight: 300;
	color: #999;
	font-size: 13px;
}

h6 { 
	font-size: 16px; 
	line-height: 23px;
	margin-bottom: 20px;
	font-style: normal;
}
h6.light {
	font-weight: 500;
}
h6.lessmb {
	margin-bottom: 12px;
}
h6.gray {
	color: #999;
	font-weight: 400;
}

/* Text elements */
p {
	font: 14px 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: 23px;
}
.bigpt {
	font-size: 16px;
	line-height: 25px;
}


ul, ol {
	margin: 0 0 20px 0;
	list-style-position: inside;
}
ul {
	list-style: none;
}
ul li {
	list-style: none;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 20px 0 20px 36px;
	font-size: 16px;
	border-left: 5px solid #e54c4c;
	padding: 5px 20px 5px 20px;
	font-family: 'Open Sans' !important;
	font-weight: normal;
	color: #454545;
}
pre {
	background: #f4f4f4;
	font-size: 13px;
	font: 13px 'Open Sans', sans-serif;
	line-height: 1.5;
	margin-bottom: 40px;
	overflow: auto;
	padding: 0.75em 20px;
}
code, kbd {
	font-size: 13px;
	font: 13px 'Open Sans', sans-serif;
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 40px;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

.dropcap {
	display:block;
	float:left;
	font-size:45px;
	padding:0;
	margin: 0;
	margin:15px 8px 0 0;
	text-transform: uppercase;
}


/* Links */
a {
	color: #e54c4c;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #454545;
}

.color {
	color: #e54c4c;
}
.color2 {
	color: #333333;
}
.color2.sb {
	font-weight: 600;
}


blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
/* remember to define focus styles! */
:focus {
outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
text-decoration: none;
}
del {
text-decoration: line-through;
}

/* Clear Fix Styles */

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
{
	height:1%;
}

.clearfix
{
	display:block;
}

/* less width */
.less1 {
	width: 75%;
	margin: 0 auto;
}
.less2 {
	width: 50%;
	margin: 0 auto;
}


/* text color white */
.white {
	color: #fff;
}

/* margin bitween sections */
.margin_top1 {
	float: left;
	width: 100%;
	margin-top: 10px;
}
.margin_top2 {
	float: left;
	width: 100%;
	margin-top: 20px;
}
.margin_top3 {
	float: left;
	width: 100%;
	margin-top: 30px;
}
.margin_top4 {
	float: left;
	width: 100%;
	margin-top: 40px;
}
.margin_top5 {
	float: left;
	width: 100%;
	margin-top: 50px;
}
.margin_top6 {
	float: left;
	width: 100%;
	margin-top: 60px;
}
.margin_top7 {
	float: left;
	width: 100%;
	margin-top: 70px;
}
.margin_top8 {
	float: left;
	width: 100%;
	margin-top: 80px;
}
.margin_top9 {
	float: left;
	width: 100%;
	margin-top: 90px;
}
.margin_top10 {
	float: left;
	width: 100%;
	margin-top: 100px;
}
.margin_top11 {
	float: left;
	width: 100%;
	margin-top: 110px;
}
.margin_top12 {
	float: left;
	width: 100%;
	margin-top: 120px;
}


.marb1 {
	margin-bottom: 10px;
}
.marb2 {
	margin-bottom: 20px;
}
.marb3 {
	margin-bottom: 30px;
}
.marb4 {
	margin-bottom: 40px;
}
.marb5 {
	margin-bottom: 50px;
}
.marb6 {
	margin-bottom: 60px;
}
.marb7 {
	margin-bottom: 70px;
}
.marb8 {
	margin-bottom: 80px;
}
.marb9 {
	margin-bottom: 90px;
}
.marb10 {
	margin-bottom: 100px;
}
.marb11 {
	margin-bottom: 110px;
}
.marb12 {
	margin-bottom: 120px;
}


/* image alignments */
.img_left {
	float: left;
}
.img_left1 {
	float: left;
	margin-right: 20px;
}
.img_left2 {
	float: left;
	margin-right: 30px;
}
.img_left3 {
	margin-right: 10px;
}
.img_left4 {
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
}
.img_left5 {
	float: left;
	margin-right: 40px;
}
.img_left9 {
	margin-bottom: 10px;
}
.img_left10 {
	float: left;
	width: 32%;
	margin-bottom: 30px;
}
.img_left11 {
	float: left;
	margin-right: 25px;
	margin-bottom: 20px;
}
.img_left12 {
	float: left;
	margin-right: 30px;
	margin-bottom: 20px;
}
.img_left13 {
	float: left;
	margin-bottom: 30px;
}

.img_right {
	float: right;
}



.alicent {
	text-align: center;
}

/* responsive image */
.rimg {
	width: 100%;
}