#logo {
	background: url(../../images/colors/blue/loanbazaar.png) no-repeat left top;
}
#logo2 {
	background: url(../../images/colors/blue/logo-2.png) no-repeat left top;
}

.header ul.nav>li>a.active {
	color:#3183d7;
}

.header ul.nav>li>a:hover.active {
	color:#3183d7;
}

.header ul.nav>li>a:hover {
	color:#3183d7;
}
.header a.buynow {
	background: #3183d7;
}
.header .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.header .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
	color: #3183d7;
}

#header #trueHeader {
	background: #3183d7;
	border-bottom: 3px solid #2069b4;
}
#header ul.nav>li>a.active {
	background: #2069b4;
}
#header ul.nav>li>a:hover.active {
	background: #2069b4;
}
#header ul.nav>li>a:hover {
	background: #2069b4;
}

.mstslider .ms-layer.text4 {
	background: #3183d7;
}
.mstslider .ms-layer.sdbut2 a {
	background: #3183d7;
}
.mstslider .ms-layer.graph1 strong {
	color: #3183d7;
}
.mstslider .ms-layer.sldbut1 a:hover {
	color: #3183d7;
}
.master-slider .section-videobg .scircle .circle {
	background: rgba(49, 131, 215, 0.9);
}

.features_sec2 {
	background-color: #3183d7;
}

.title1 .text{
    background: #3183d7;
}

.site_wrapper .ciref:hover,
.site_wrapper .ciref.active {
  color: #fff;
  background: #3183d7;
}

.site_wrapper .ciref2:hover,
.site_wrapper .ciref2.active {
  color: #fff;
  background: #3183d7;
}

.site_wrapper .ciref3:hover,
.site_wrapper .ciref3.active {
  color: #fff;
  background: #3183d7;
}
.site_wrapper .outline-outward:hover:before,
.site_wrapper .outline-outward.active:before {
  border: #3183d7 solid 1px;
}

.parallax_section1 h2 {
	border-left: 5px solid #3183d7;
}
.parallax_section5 strong {
	color: #3183d7;
}

.features_sec4 .lblogs .lbimg span {
	background: #3183d7;
}
.features_sec4 a.remobut {
	color: #3183d7;
}
.features_sec4 .peosays .box span {
	color: #3183d7;
}

.features_sec6 .ibox .left i {
	color: #3183d7;
}

.features_sec7 .box .ibox h6 {
	background: #3183d7;
}

.site_wrapper .tabs3 li a:hover {
	color: #3183d7;
}
.site_wrapper .tabs3 li.active a {
	color: #3183d7;
}
.site_wrapper .tabs2 li.active a {
	background-color: #3183d7;
}
.site_wrapper .tabs.side li.active a {
	background-color: #3183d7;
}
.site_wrapper .tabs li.active a:after {
	border-right-color: #3183d7;
}

.site_wrapper ul.tabs li.active, html ul.tabs li.active a,
.site_wrapper html ul.tabs li.active a:hover  {
	border-top: 1px solid #3183d7;
}
.site_wrapper .tags li a:hover {
	background-color: #3183d7;
}

.features_sec14 {
	background: #3183d7;
}

.pritable .pacdetails.three {
	box-shadow: 0px -5px 0px #3183d7;
}
.pritable .pacdetails.three .title strong {
	color: #3183d7;
}
.pritable .pacdetails.three .bottom a {
	background: #3183d7;
}
.pritable .pacdetails.three h6 {
	background: #3183d7;
}

.site_wrapper .st-accordion-four ul li.st-open > a {
    color: #3183d7;
}
.site_wrapper .st-accordion-four ul li > a {
    color: #3183d7;
}
.site_wrapper .st-accordion-four ul li.st-open > a span{
	background: transparent url(../../images/colors/blue/minus-color.png) no-repeat center center;
}
.site_wrapper .st-accordion-four ul li > a span{
	background: transparent url(../../images/colors/blue/plus-color.png) no-repeat center center;
}
.site_wrapper .st-accordion-four ul li > a:hover{
    color: #3183d7;
}
.site_wrapper .st-accordion ul li > a:hover{
    color: #3183d7;
}

.site_wrapper .cd-timeline-content h2 { color: #3183d7; font-weight: normal; margin-bottom: 0px;}
.site_wrapper .no-touch .cd-timeline-content .cd-read-more:hover { background-color: #3183d7; }
.site_wrapper .cd-timeline-content .cd-date strong {
	background-color: #3183d7;
}
.site_wrapper .cd-timeline-content .cd-date strong {
	background: #3183d7;
}
.site_wrapper .cd-timeline-content .cd-date strong:after {
	border-right-color: #3183d7;
}
.site_wrapper .cd-timeline-content .cd-date b {
	background-color: #3183d7;
}
.site_wrapper .cd-timeline-content .cd-date b {
	background: #3183d7;
}
.site_wrapper .cd-timeline-content .cd-date b:after {
	border-left-color: #3183d7;
}

.features_sec38 h6 {
	color: #3183d7;
}

.flips2_back {
	background-color:#3183d7;
}
.flips3_front.flipscont3 i {
	color: #3183d7;
}
.flips3_back {
	background-color:#3183d7;
}
.flips4_back h5 a:hover {
	color: #3183d7;
}

.but_small1 {
	background-color: #3183d7;
}
.but_small1.gray:hover {
	background-color: #3183d7;
}
.but_small3 {
	background-color: #3183d7;
}
.but_small2 {
	background-color: #3183d7;
}
.but_small4 {
	background-color: #3183d7;
}
.but_small5 {
	color: #3183d7;
	border: 2px solid #3183d7;
}
.but_small5.light:hover {
	color: #3183d7;
}
.but_small5.light2:hover {
	color: #3183d7;
}

.but_medium1 {
	background-color: #3183d7;
}
.but_medium3 {
	background-color: #3183d7;
}
.but_medium2 {
	background-color: #3183d7;
}
.but_medium4 {
	background-color: #3183d7;
}
.but_medium5 {
	color: #3183d7;
	border: 2px solid #3183d7;
}

.but_large1 {
	background-color: #3183d7;
}
.but_large1.small {
	background-color: #3183d7;
}
.but_large3 {
	background-color: #3183d7;
}
.but_large2 {
	background-color: #3183d7;
}
.but_large4 {
	background-color: #3183d7;
}
.but_large4.white {
	color: #3183d7;
}
.but_large5 {
	color: #3183d7;
	border: 2px solid #3183d7;
}
.but_full2 .butprogress {
	background: #3183d7;
}

.stcode_title4 .line{
    background: #3183d7;
}
.stcode_title5 .line{
    background: #3183d7;
}
.stcode_title7 .line{
    background: #3183d7;
}
.stcode_title12 h2{
	color: #3183d7;
}

.button.transp2 {
	background: #3183d7;
}

.counters2 i {
	color: #3183d7;
}
.counters3 .one_fourth.white i {
	color: #3183d7;
}
.counters3 .one_fourth.one {
	color: #3183d7;
}
.counters3 .one_fourth.one i {
	color: #3183d7;
}
.counters3 .one_fourth.two {
	color: #3183d7;
}
.counters3 .one_fourth.two i {
	color: #3183d7;
}
.counters4 {
	color: #3183d7;
}

.features_sec62 .box .icon:hover {
	color: #3183d7;
}

.pricingtable3 li.title.act {
	background-color: #3183d7;
}
.pricingtable3 li.hecont.act strong {
	background-color: #3183d7;
}
.pricingtable3 li.price.act h1 {
	color: #3183d7;
}


.hexagon:hover i {
	color: #3183d7;
}

.sidebar_widget ul.arrows_list1 li a {
	color: #3183d7;
}
.recent_posts_list li a:hover {
	color: #3183d7;
}

.fati4 {
	background-color: #3183d7;
}
.fati5 {
	color: #3183d7;
	border: 1px solid #3183d7;
}
.fati9 {
	color: #3183d7;
	border: 5px solid #3183d7;
}
.fati19:hover {
	color: #3183d7;
}

.big_text1 i {
	color: #3183d7;
}

.error_pagenotfound em {
	color: #3183d7;
}

.small_social_links li i {
	color: #3183d7;
}

.site_wrapper .cbp-l-caption-buttonLeft,
.site_wrapper .cbp-l-caption-buttonRight{
	background-color: #3183d7;
}
.site_wrapper .cbp-l-filters-dropdownWrap{
	background: #3183d7;
}

.site_wrapper .cbp-l-grid-masonry .cbp-caption-activeWrap.two:hover .cbp-l-caption-title,
.site_wrapper .cbp-l-grid-masonry .cbp-caption-activeWrap.three:hover .cbp-l-caption-title {
	color: #3183d7;
}

.blog_post h3 a {
	color: #3183d7;
}
.blog_post a.date:hover {
	color: #3183d7;
}
.sharepost li {
	background-color: #3183d7;
}
.about_author a:hover {
	color: #3183d7;
}

.divider_line11 {
	background: url(../../images/colors/blue/h-line5.png) no-repeat center bottom;
}

.alertymes2 {
	background-color: #3183d7;
}

.site_wrapper #bar{
  background: #3183d7;
}

.pop-wrapper2.colored li a span{
	border: 4px solid #3183d7;
	background: #3183d7;
}
.pop-wrapper2.colored  li a span:after{
	border-top: 10px solid #3183d7;
}


a {
	color: #3183d7;
}

.color {
	color: #3183d7;
}

.but_small3 span {
    background-color: #2470bd;
}
.but_medium3 span {
    background-color: #2470bd;
}
.but_large3 span {
    background-color: #2470bd;
}


.pricing-tables-helight .title {
	background-color: #2676c8;
	border-top: 3px solid #1a69b9;
	border-bottom: 1px solid #4692e1;
}
.pricing-tables-helight .price {
	background-color: #3183d7;
}
.pricing-tables-helight-two .title {
	background-color: #2676c8;
	border-top: 3px solid #1a69b9;
	border-bottom: 1px solid #4692e1;
}
.pricing-tables-helight-two .price {
	background-color: #3183d7;
}
.pricing-tables-main .ordernow .colorchan{
	color: #fff;
	background-color: #3183d7;
}

.pricingtable1 ul.active li.mostp {
    background-color: #3183d7;
}
.pricingtable1 ul.active li.title h4 {
    color: #3183d7;
}
.pricingtable1 ul.active li.title h1 {
    color: #3183d7;
}

.pricingtable1 ul.active li.planbut a {
    background-color: #3183d7;
}